<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/
xhtml">
<link rel="icon"
      type="image/svg"
      href="../static/gtprinters.svg">

<head>

<title>GT Printers</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen,projection"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
 <div id="homepage">
    <h1 style="font-size: 4em;">GT Printers</h1>
    <div align= "center" >
    <table style="text-align: left;">
        <tr>
            <th>Location</th>
            <th>Number of Recent Issues</th>
        </tr>
        {% for entry in tickets %}
        <tr>
            <th>{{entry.printer}}</th>
            <th>{{entry.num}}</th>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
</body>
