<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/
xhtml">
<head>

<title>GT Printers</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen,projection"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
 <div id="homepage">
    <h1>GT Printers</h1>
    {% for entry in tickets %}
    <li>{{ entry.timestamp }}{{ entry.printer }} {{entry.issue}}{{entry.date}}
    {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </div>
</body>