<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/
xhtml">
<head>

<title>Report a printer issue</title>

<link type="text/css" rel="stylesheet" href="style.css" media="screen,projection"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

<!--     <div id="issue">
        <h1>Issue with this printer? Tell us what's wrong by pressing a button below.</h1>
        <button type="button" class="button" onclick="alert('Thanks!')">Out of Paper</button>
        <br>
        <button type="button" class="button" onclick="alert('Thanks!')">Jammed</button>
    </div> -->

    <form action="{{ url_for('add_entry') }}" method=post>
        <input name="issue" value="Out Of Paper" type="submit">
        <input type="hidden" name="timestamp" value=Date.now()>
        <input type="hidden" name="printer" value="CULC printer!">
    </form>

</body>