
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0em;
    height: 100%
}


p {
    font-size: 1.3em; }
#homepage {
    background-color: #EAAA00;
    color: #00254c;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    padding-top: 5em;
    overflow: hidden;
    position: fixed;
}
li {
    list-style-type: none;
}
#issue {
    background-color: #EAAA00;
    color: #00254c;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    padding-top: 5em;
    overflow: hidden;
    position: fixed;
}

input[type=submit] {
        background:  #00263A;
        padding: 1em;
        font-size: 30px;
        border: none;
        color: white;
        border-radius: 4px;
        font-weight: bold;
        margin: .5em;
        cursor: pointer;

    } input[type=submit]:hover {
        background: #00254c;
    }